body{
  background-color: #0F0F0F;
  overflow-x: hidden;
  background-image: url("images/back_certo.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 1s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}